body {
    padding-top: 56px;
}

.user-avatar {
    max-width: 50px;
}


.error-template {
    padding: 40px 15px;
    text-align: center;
}



.media img {
    width: 60px;
    height: 60px
}

.reply a {
    text-decoration: none
}